<!DOCTYPE html>
<!-- angular module is defined on html tag -->
<html lang="en" ng-app="spxDashboard">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale-1">
	<title>Spotify Playlist Extender</title>
	
	<!-- external stylesheets -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
	
	<!-- local stylesheets -->
	<link rel="stylesheet" href="layout/css/style.css"/>
	<link rel="stylesheet" href="layout/css/dashboard-style.css"/>
</head>
<body>
<noscript>
    <div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
  </noscript>
<main>
	<header>
		<!-- navigation bar, is fixed -->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html">
						<span class="navbar-title">Playlist Extender</span>
					</a>
				</div>
			</div>
		</div>
	</header>

	<!-- User info -->
	<div class="view">
		<div class="container">
			<h3>
				Your account:
			</h3>
			<div class="row" ng-controller="dashboardController">
				<div class="col-md-4">
					<div id="avatar">
						<img src="{{ usercredential.display_name }}" />
					</div>
				</div>
				<div class="col-md-4">
					<div id="userinfo">
						<table class="table table-striped" ng-repeat="usercredential in usercredentials">
							<tr><td>Display name: <td>{{ usercredential.display_name }}</tr>
							<tr><td>E-mail: </td><td>{{ usercredential.email }}</td></tr>
							<tr><td>Birthdate: </td><td>{{ usercredential.birthdate }}</td></tr>
							<tr><td>Spotify URI: </td><td>{{ usercredential.uri }}</td></tr>
							<tr><td>Country: </td><td>{{ usercredential.country }}</td></tr>
							<tr><td>Product: </td><td>{{ usercredential.product }}</td></tr>
							<tr><td>Followers: </td><td>{{ usercredential.followers }}</td></tr>
							<tr><td>Link to webplayer: </td><td><a href="{{ usercredential.external_urls.spotify }}"</a> {{ usercredential.external_urls.spotify }}</td></tr>
						</table>
					</div>
				</div>
			</div>
			<button class="btn btn-lg btn-success" ng-click="getAllPlaylists()">Show my playlists</button>
			<button class="btn btn-lg btn-success" ng-click="createNewPlaylist()">Create new playlist</button>
		</div>
	</div>
		
	<!-- views go here -->

	<div ng-show = "">
		<div ui-view></div>
	<div ng-hide>

</main>

	<!-- external JS dependencies -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-cookies.min.js"></script>

	<!-- local JS dependencies -->
	<script src="app.js"></script>


	<!-- controllers -->
	<script src="/dashboard/dashboard.controller.js"></script>
	<script src="/playlist/playlist.controller.js"></script>

	<!-- fix -->
	
	

</body>
</html>