<h3>Sandbox</h3>
{{ sandboxCtrl.sendMsg }} <br />
{{ sandboxCtrl.factoryMsg }}

<br /><br />
<h4>Show track info</h4>
<button class="btn btn-success" ng-click="sandboxCtrl.getObjectTrackInfo()">Haal object op</button>
<table ng-repeat="sobject in sandboxCtrl.sobjects">
	<tr><td>{{ sobject.id }}</td></tr>
	<tr><td>{{ sobject.href }}</td></tr>
	<tr><td>{{ sobject.uri }}</td></tr>
	<tr><td>{{ sobject.type }}</td></tr>
</table>
<br /><br />

<h4>Show random track info</h4>
<button class="btn btn-success" ng-click="sandboxCtrl.getRandomObjectTrackInfo()">Haal random object op</button>
<table ng-repeat="rsobject in sandboxCtrl.rsobjects">
	<tr><td>{{ rsobject.id }}</td></tr>
	<tr><td>{{ rsobject.href }}</td></tr>
	<tr><td>{{ rsobject.uri }}</td></tr>
	<tr><td>{{ rsobject.type }}</td></tr>
</table>

<br /><br />
<h4>Spotify playlists</h4>

<br /><br />
<h4>Open Spotify playlists here</h4>