<!-- HTML template for loading specific track info on selected playlist into view -->
<div class="view" ng-app="spx">

<!--<md-progress-circular md-mode="indeterminate"></md-progress-circular></div></md-content>-->

	<div class="container" ng-controller="trackInfoController">
		<h3>{{ track.track.artists[0].name }} - {{ track.track.name }}</h3>
		<div class="row" class="col-md-12">
			<!-- specific track visual -->
			<div class="albumart" class="col-md-4">
				{{ art }}
			</div>

			<div id="trackinfo" class="col-md-4">
				<table class="table table-striped" role="presentation">
					<h4>Primary info</h4>
						<tr><td>Artist: <td>{{ track.track.artists[0].name }}</tr>
						<tr><td>Tracktitle: </td><td>{{ track.track.name }}</td></tr>
						<tr><td>Album: </td><td>{{ track.track.album.name }}</td></tr>
						<tr><td>Duration: </td><td>{{ track.track.duration_ms | date: 'mm:ss' }}</td></tr>
						<tr><td>Track number: </td><td>{{ track.track.track_number  }}</td></tr>
						<tr><td>Popularity: </td><td>{{ track.track.popularity }}</td></tr>
						<tr><td>Added by: </td><td>{{ track.added_by.id }}</td></tr>
						<tr><td>Added on: </td><td>{{ track.added_at | date: 'yyyy-MM-dd HH:mm:ss' }}</a> </td></tr>
				</table>
				<table class="table table-striped" role="presentation">
					<h4>Audio features</h4>
						<tr><td>Danceability: <td>{{ userdisplayname }}</tr>
						<tr><td>Energy: </td><td>{{ useremail }}</td></tr>
						<tr><td>Loudness: </td><td>{{ userbirthdate }}</td></tr>
						<tr><td>Speechiness: </td><td>{{ useruri }}</td></tr>
						<tr><td>Acousticness: </td><td>{{ usercountry }}</td></tr>
						<tr><td>Liveness: </td><td>{{ userproduct }}</td></tr>
						<tr><td>Valence: </td><td>{{ userfollowers }}</td></tr>
						<tr><td>Tempo: </td><td>{{ userexternalurls }}</a> </td></tr>
				</table>
			</div>

			<!-- specific track visual -->
			<div id="trackvisual" class="col-md-4">
				<nvd3 options="optionsbar" data="data"></nvd3>
			</div>
		</div>
		<!-- back button -->
		<div id="backbtn" class="col-md-12">
			<button class="btn btn-md btn-default" ng-click="goback('/playlist/tracks')">Back</button>
			<button class="btn btn-md btn-success" ng-click="goback('/playlist/tracks')">Preview</button>
			<button class="btn btn-md btn-danger" ng-click="goback('/playlist/tracks')">Delete</button>
		</div>
	</div>
<div>