<!-- HTML template for loading tracks on selected playlist into view -->
<div class="view" ng-app="spx">

<!--<md-progress-circular md-mode="indeterminate"></md-progress-circular></div></md-content>-->

<div>
<div class="container" ng-controller="trackController">
	<div id="divider">
		<div id="usertracks" class="col-md-8">
			<table class="table table-striped" role="presentation">
				<thead>
					<thead><h3>Tracks in playlist {{ }}</h3></thead>
				</thead>

				<!-- search form -->
				<form>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-search"></i></span></div>
							<input type="text" class="form-control" placeholder="Search your tracks" ng-model="searchTracks">
						</div>      
					</div>
				</form>

				<!-- table with found tracks in current playlist -->
				<tbody>
					<tr>
						<th></th>

						<th><a href="#" ng-click="sortType = 'track.track.artists'; sortReverse = !sortReverse">Artist<span ng-show="sortType == 'track.track.artists' && !sortReverse" class="caret"></span></a></th>

						<th><a href="#" ng-click="sortType = 'track.track.name'; sortReverse = !sortReverse">Title<span ng-show="sortType == 'track.track.name' && !sortReverse" class="caret"></span></a></th>

						<th><a href="#" ng-click="sortType = 'track.track.album.name'; sortReverse = !sortReverse">Album<span ng-show="sortType == 'track.track.album.name' && !sortReverse" class="caret"></span></a></th>

						<th><a href="#" ng-click="sortType = 'track.track.duration_ms'; sortReverse = !sortReverse">Duration<span ng-show="sortType == 'track.track.duration_ms' && !sortReverse" class="caret"></span></a></th>

						<th><a href="#" ng-click="sortType = 'rack.added_at'; sortReverse = !sortReverse">Added on<span ng-show="sortType == 'track.added_at' && !sortReverse" class="caret"></span></a></th>
					</tr>
					<tr ng-repeat="track in tracks.data.items | orderBy:sortyType:sortReverse | filter:searchTracks">
						<td><img src="{{ track.track.album.images[0].url }}" class="artworkimg" /></td>
						<td>{{ track.track.artists[0].name }}</td><td><a ng-click="loadtrack(track.track.id)" ui-sref="trackinfo">{{ track.track.name }}</td><td>{{ track.track.album.name }}</td><td>{{ track.track.duration_ms | date: 'mm:ss' }}</td><td>{{ track.added_at | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- visuals based on average values of first 99 items based on audio features endpoint -->
		<div id="trackvisual" class="col-md-4">
			<nvd3 options="optionsbar" data="data"></nvd3>
		</div>

		<!-- table holding average values of first 99 items based on audio features endpoint -->
		<div id="userplaylisttable" class="col-md-8">
			<table class="table table-striped">
				<thead><h3>Additional information</h3></thead>
				<tbody>
					<tr><th>Key</th><th>Value</th></tr>
					<tr><td>Number of tracks</th><td>{{ trackTotalAmount }}</td></tr>
					<tr><td>Total duration</td><td>{{ trackTotalDuration | date: 'hh:mm:ss' }}</td></tr>
					<tr><td>Average tempo (BPM)</td><td>{{ trackAvgTempo }}</td></tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- back button -->
	<div id="backbtn" class="col-md-12">
		<button class="btn btn-md btn-success" ng-click="goback('/playlist/all')">Back</button>
	</div>
</div>