<div class="form-container">
	<form method="post">
		<div class="form-group">
			<label for "">Email</label>
			<input type="email" id="email" class="form-control" ng-model="vm.user.firstname" required />
		</div>
		<div class="form-group">
			<label for "">First name</label>
			<input type="text" id="firstname" class="form-control" ng-model="vm.user.firstname" required />
		</div>
		<div class="form-group">
			<label for "">Lastname</label>
			<input type="text" id="lastname" class="form-control" ng-model="vm.user.lastname" required />
		</div>
		<div class="form-group">
			<label for "">Password</label>
			<input type="password" id="password" class="form-control" ng-model="vm.user.password" required />
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
			<button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
		</div>
	</form>
</div>