<div class="view">
	<nav class="navbar">
		<ul class="nav nav-pills">
  			<li role="presentation" class="active"><a href="#">Dashboard</a></li>
			<li role="presentation"><a href="#">User settings</a></li>
			<li role="presentation"><a href="#">Spotify settings</a></li>
		</ul>
	</nav>
	
	<h3>Dashboard</h3>

	<!-- widgets here -->
	<h4>User info</h4>
	<p>Username, e-mail, playlists</p>
	<h4>Spotify info</h4>
	<p>ID, link to web interface, avatar</p>
	<h4>Playlists</h4>
	<p>Show all playlists, show individual playlists, create new ones, export</p>
</div>