<div class="view">
	<nav class="navbar">
		<ul class="nav nav-pills">
  			<li role="presentation" class="active"><a href="#/user/dashboard">Dashboard</a></li>
  			<li role="presentation"><a href="#/user/playlists">Playlists</a></li>
			<li role="presentation"><a href="#/user/user_settings">User settings</a></li>
			<li role="presentation"><a href="#/user/spotify_settings">Spotify settings</a></li>
		</ul>
	</nav>
	
	<h3>Dashboard</h3>

	<!-- widgets here -->
	<h4>Your personal dashboard</h4>
</div>
<script>
    storeInit();
    function storeInit() {
        if (!store.enabled) {
            alert('Local storage is not supported by your browser. Please disable "Private Mode", or upgrade to a modern browser.')
            return
        }
</script>