<div class="view">
	<nav class="navbar">
		<ul class="nav nav-pills">
  			<li role="presentation" class="active"><a href="#/user/dashboard">Dashboard</a></li>
			<li role="presentation"><a href="#/user/user_settings">User settings</a></li>
			<li role="presentation"><a href="#/user/spotify_settings">Spotify settings</a></li>
		</ul>
	</nav>
	
	<h3>Dashboard</h3>

	<!-- widgets here -->
	<h4>Playlists</h4>
	<p>Show all playlists, show individual playlists, create new ones, export</p>

	<p><strong>All playlists</strong></p>

	<p><strong>Create new playlist</strong></p>

	<p><strong>Export playlists</strong></p>
</div>