<div class="view">
	<nav class="navbar">
		<ul class="nav nav-pills">
  			<li role="presentation"><a href="#/user/dashboard">Dashboard</a></li>
  			<li role="presentation"><a href="#/user/playlists">Playlists</a></li>
			<li role="presentation" class="active"><a href="#/user/user_settings">User settings</a></li>
			<li role="presentation"><a href="#/user/spotify_settings">Spotify settings</a></li>
		</ul>
	</nav>

<div>
	<h3>Dashboard</h3>

	<h4>User settings</h4>
	<p>Username, e-mail, playlists</p>

	<p><strong>Username</strong></p><p id="getspotifyusername"></p>

	<p><strong>E-mail</strong></p><p id="getspotifyuseremail"></p>

	<p><strong>Token</strong></p><p id="getspotifycurrentoken"></p>
</div>