<div class="view">
	<h3>Login</h3>
	<p>Login with your e-mail address and password</p>
	<div class="view-ctrl">
		<form action="" method="post" class="form-ctrl">
			<label for "login-email">Your e-mail</label><input type="email" name="login-email" placeholder="Your e-mailaddress" autofocus />
			<label for "login-password">Your password</label><input type="password" name="login-password" placholder="Your password" />
			<input type="submit" value="Submit" />
		</form>
		<p><a href="">Forgot your password?</a></p>
		<p><a href="">Don't have an account yet? Please sign up here</a></p>
	</div>
</div>