<div class="view">
	<h3>Signup</h3>
	<h5>Sign up to make use of SPX</h5>
	<div class="view-ctrl">
		<form action="" method="post" class="form-ctrl">
			<label for "signup-username">Your first name</label><input type="text" placeholder="Name" name="signup-username">
			<label for "signup-email">Your e-mailaddress</label><input type="text" placeholder="E-mail" name="signup-email">
			<label for "signup-passwordone">Your desired password</label><input type="password" name="signup-passwordone">
			<label for "signup-passwordtwo">Please repeat your password</label><input type="password" name="signup-passwordtwo">
			<input type="submit" value="Submit" />
		</form>
		<span>On submitting the info you will be asked to authorize the SPX app to make use of Spotify. Please confirm in the next screen to do so.</span>
	</div>
</div>